.maximizeFlashHiddenObject {
  display: none !important;
}

.maximizeFlashMaxmizedObject {
  display: block !important;
  position: absolute !important;
  float: left !important;
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 100% !important;
  background: #fff !important;
  z-index: 9999999;
}

.maximizeFlashFlashZone {
  -webkit-border-radius: 20px;
  border: 5px solid #4b7b9f;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #6aadde;
  background-size: auto 25%;
  margin: 0px;
  display: block;
  position: static;
  text-align: center;
}

body.maximizeFlashNoScrollBody {
  overflow-x: hidden;
  overflow-y: hidden;
}

.maximizeFlashButtonV {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 25%;  
}

.maximizeFlashButtonH {
  position: relative;
  display:inline; 
  height: 25%;
}

.maximizeFlashButtonV:hover {
  opacity: 0.5;
}

.maximizeFlashButtonH:hover {
  opacity: 0.5;
}

/*
    #6aadde; 
    -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.17, rgb(106,174,222)),
    color-stop(0.71, rgb(196,223,242)))    
*/

